{% extends "base.html" %} 
{% block title %}Login{% endblock title %} 
{% block content %}
<style>
  body {
    background-color: #f1f1f1;
    font-family: 'Arial', sans-serif;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }

  .form-wrapper {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    animation: borderBlink 2s infinite alternate; /* Border blinking animation */
  }

  @keyframes borderBlink {
    from {
      border-color: #3498db;
    }
    to {
      border-color: #e74c3c;
    }
  }

  .input-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    color: #333;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #3498db; /* Initial border color */
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out; /* Smooth transition for border color */
  }

  .form-control:focus {
    border-color: #e74c3c; /* Border color on focus */
  }

  .remember {
    margin-bottom: 15px;
  }

  .btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    animation: buttonBlink 2s infinite alternate; /* Button background blinking animation */
  }

  @keyframes buttonBlink {
    from {
      background-color: #3498db;
    }
    to {
      background-color: #e74c3c;
    }
  }

  .btn:hover {
    background-color: #1f6cb6;
  }

  .signUp-link {
    margin-top: 15px;
    color: #555;
  }
</style>

<div class="wrapper">
  <div class="form-wrapper sign-in">
    <form action="/auth/login/" method="post">
      {% csrf_token %}
      <h2 style="color: #3498db;">Login</h2>
      <div class="input-group">
        <input type="text" class="form-control" id="email" name="email" placeholder="Your Username" required>
      </div>
      <div class="input-group">
        <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Your Password" required>
      </div>
      <div class="remember">
        <label><input type="checkbox"> Remember me</label>
      </div>
      <button type="submit" class="btn">Login</button>
      <div class="signUp-link">
        <p>Don't have an account? <a href="/auth/signup/" class="signUpBtn-link" style="color: #3498db;">Sign Up</a></p>
      </div>
    </form>
  </div>
</div>

<script src="script.js"></script>

{% endblock content %}
